<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>


<h1>Your Trails, <%= @user.username %></h1>

<% @user.trails.each do |trail|%>
 <h3> <%= trail.name %><br> </h3>
<a href="/trails/<%= trail.slug %>">View <%= trail.name %></a><br>
<a href="/trails/<%= trail.slug %>/edit">Edit <%= trail.name %> </a><br>
<a href="/trails/<%= trail.slug %>/delete">Delete <%= trail.name %></a><br>
<%end%>
<br><br>
<a href="/trails/new">Create A Trail</a>
<a href="/">Home</a>
<a href="/logout"> Log Out </a>