<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Your Trails, <%= @user.username %></h1>
<%= @user.trails %>
<% @user.trails.each do |trail|%>
  <%= trail.name %>

<a href="trails/<%= trail.slug %>/edit">Edit Trail </a><br>
<a href="trails/<%= trail.slug %>/delete">Delete Trail</a>
<%end%>
<h4>Here</h4>
<a href="/trails/new">Create Another Trail</a>
<a href="/">Home</a>
<a href="/logout"> Log Out </a>