<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Edit <%= @trail.name %></h1>

<form method="post" action="/trails/<%= @trail.id %>">
<input type="hidden" name="_method" id="hidden" value="patch">

    <h4>Edit State:</h4>
    <% State.all.each do |state|%>
    <input type="radio" name="trail[state_id]" value="<%= state.id %>"><%= state.name %>
    <% end %>

    <h4>Edit Trail Name:</h4>
    <input type="text" name="trail[name]" value="<%=@trail.name %>" required>

    <h4>Edit Trail Info:</h4>
    <textarea name="trail[info]" rows="5" cols="50"required><%= @trail.info %></textarea><br>

    <h4>Edit Trail Length (in miles):</h4>
    <input type="text" name="trail[distance]" value="<%= @trail.distance %>" required>

    <h4>Edit Trail Surface(s):</h4>
    <% surfaces = [ ]%>
    <% Trail.all.each do |trail|%>
        <% trail.surface.split(", ").each do |surface|%>
            <% if surfaces.include?(surface) == false %>
                <% surfaces << surface %>
                <%end%>
        <% end %>
    <%end%>
    <% surfaces.each do |surface| %>
    <input type="checkbox" name="trail[surface][]" value="<%= surface.strip %>%" <%='checked' if @trail.surface.include?(surface)%>><%= surface %>
    <% end %><br>
   

    <br>
    <input type="submit" value="Edit Trail">
</form>