<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1><%= @trail.name %></h1>

<h4>Trail Info:</h4> 
<%= @trail.info%>
<h4>Trail Length:</h4> 
<%= @trail.distance%> miles
<h4>Trail Surface:</h4>
<%= @trail.surface%><br>
<br>


<% @state = State.find_by_id(@trail.state_id)%>
<a href="/states/<%= @state.slug %>">View More Trails in <%= @state.name %> </a><br>
<%if session[:user_id] %>
  <a href="/users/<%= User.user(session).id %>">View Homepage</a><br>
  <%end%>
<a href="/">Front Page</a>