<h1>Trails in <%= @state.name %></h1>

<% @state.trails.each do |trail|%>
<h3><%= trail.name %></h3>
<ul>Trail Info: <%= trail.info%></ul>
<ul>Trail Length: <%= trail.distance%> miles</ul>
<ul>Trail Surface: <%= trail.surface%></ul>
<ul>Trail added by: <%= trail.user_id%> </ul>
<br>
<% end%>